{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "prettier/prettier": "error"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jsx-a11y/recommended"],
  "plugins": ["prettier", "react", "jsx-a11y"],
  "settings": {
    "react": {
      "version": "16.5"
    }
  },
  "env": {
    "browser": true
  }
}