@import '../styles/variables.scss';

.portfolio {
  composes: container from global;
  composes: article from '../styles/shared.scss';
  padding-top: 3.5rem;

  a {
    color: $mainDark;

    &:hover {
      color: $main;
    }
  }

  h1 {
    margin: 1rem 0;

    @include breakpoint(mobileonly) {
      font-size: 1.8rem;
    }
  }

  .links {
    display: flex;

    a {
      margin-top: 0;
      margin-left: 0;
      margin-right: 1rem;
      margin-bottom: 3rem;
    }
  }

  .github {
    background-color: lightgray;
    color: $white;
  }

  .preamble {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .techBox {
    padding: 2rem 6rem;
    margin: 0 -6rem;
    background-color: $lightGray;

    h3 {
      font-size: 1.3rem;
      margin: 1rem 0;
    }

    .techList {
      display: flex;
    }
  }


}

.theArticle {
  font-size: 1.2rem;
  max-width: 40rem;

  img {
    width: 100%;
    height: auto;
  }

  h2 {
    margin-top: 2rem;
    font-weight: 400;
  }

  p {
    margin: 1rem 0;
    line-height: 2rem;
  }

  a {
    color: red;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}