@import '../styles/variables';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - #{$navbarHeight});
  color: $white;
  background-color: $headerBackgroundColor;
  background-image: url('https://www.transparenttextures.com/patterns/classy-fabric.png');
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  composes: container from global;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;

  @include breakpoint(phablet) {
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
  }

  @include breakpoint(tablet) {
    font-size: 3rem;
    line-height: 4rem;
  }

  span {
    font-weight: 700;
    color: orange;
  }
}

.headerDescription {
  font-size: 1.2rem;
  @include breakpoint(phablet) {
    font-size: 1.5rem;
  }

  @include breakpoint(tablet) {
    font-size: 2rem;
  }
}

$php: #8892bf;
$react: #65daf9;
$css: #3f95d4;
$javascript: #f7df1e;
$laravel: #eb625e;
$stories: rgb(94, 187, 83);

.php {
  color: $php;

  span {
    color: rgba($php, 0.6);
  }
}

.react {
  color: $react;

  span {
    color: rgba($react, 0.6);
  }
}

.css {
  color: $css;

  span {
    color: rgba($css, 0.6);
  }
}

.javascript {
  color: $javascript;

  span {
    color: rgba($javascript, 0.6);
  }
}

.laravel {
  color: $laravel;

  span {
    color: rgba($laravel, 0.6);
  }
}

.stories {
  color: $stories;

  span {
    color: rgba($stories, 0.6);
  }
}
