@import '../styles/variables';

// NAV
.nav {
  justify-self: flex-end;
  background-color: $navBackgroundColor;
  background-image: url('https://www.transparenttextures.com/patterns/classy-fabric.png');
  height: $navbarHeight;
  border-bottom: 4px solid $main;

}

.navContainer {
  composes: container from global;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem;

  @include breakpoint(phablet) {
    justify-content: space-between;
  }
}

.brand {
  a {
    color: $white;
  }

  color: $white;
  font-size: 1rem;

  margin-bottom: 0;

  @include breakpoint(phablet) {
    font-size: 1.3rem;
  }
}

.hamburger {

  @include breakpoint(phablet) {
    display: none;
  }
}

.navLinks {
  display: flex;
  color: $white;
  font-size: 1.1rem;
  text-transform: uppercase;

  @include breakpoint(mobileonly) {
    position: absolute;
    flex-direction: column;
    top: 3.2rem;
    left: 0;
    right: 0;
    background-color: $black;
    text-align: right;
    padding: 1rem;

    line-height: 1.5rem;

  }

  &.hidden {
    @include breakpoint(mobileonly) {
      display: none;
    }
  }



  @include breakpoint(phablet) {
    display: flex;
  }

  li {
    @include breakpoint(phablet) {
      margin-right: 2rem;
    }
  }

  a {
    color: $white;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $main;
    }
  }
}

.isCurrent {
  a {
    color: $main;
    transition: color 0.5s ease-in-out;
    font-weight: 700;
  }
}