@import '../styles/variables';

$outerMargin: 0rem;

.projects {
  composes: container from global;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.projectGrid {
  display: grid;
  width: 100%;
  grid-gap: 0.5rem;
  @include breakpoint(phablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
  }
}

.projectItem {
  position: relative;
  overflow: hidden;
}

.projectImage {
  z-index: 1;
}

.projectTitle {
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out;
}

.btn {
  background-color: $main;
  transform: translateY(20px);
  transition: transform 0.3s ease-in-out;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  position: absolute;
  border: 0.2rem transparent solid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 2;
  transition: all 0.5s ease-in;
  text-align: center;

  &:hover {
    opacity: 1;
    border: 0.2rem $main dashed;

    & .projectTitle {
      transform: translateY(0);
    }

    & .btn {
      transform: translateY(0);
    }
  }

  h3 {
    font-size: 1.2rem;
  }
}

.sectionHeader {
  composes: sectionHeader from '../styles/shared.scss';
}

.btn {
  composes: btn from global;
}
