@import '../styles/variables';

$outerMargin: 0rem;
.projects {
  composes: container from global;
  max-width: 90%;
}

.sectionHeader {
  composes: sectionHeader from '../styles/shared.scss';
}

.portfolio {
  composes: article from '../styles/shared.scss';
  background-color: rgb(224, 224, 224);

  .projectGrid {
    display: grid;
    overflow: hidden;
    grid-gap: 0.5rem;
    @include breakpoint(phablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(laptop) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0;
    }

    .projectItem {
      position: relative;
      overflow: hidden;

      .projectImage {
        z-index: 1;
      }

      .projectInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: $white;
        position: absolute;
        border: 0.2rem transparent solid;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 2;
        transition: all 0.5s ease-in;
        text-align: center;
        padding: 0.5rem;

        &:hover {
          opacity: 1;
          border: 0.2rem $main dashed;

          & .projectTitle {
            transform: translateY(0);
          }

          & .btn {
            transform: translateY(0);
          }
        }

        h3 {
          font-size: 1.2rem;
        }

        .projectTitle {
          transform: translateY(-20px);
          transition: transform 0.3s ease-in-out;
          padding: 1rem;

          .technologies {
            margin: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            color: rgb(158, 45, 130);
          }
        }
      }
    }
  }
}

.btn {
  background-color: $main;
  transform: translateY(20px);
  transition: transform 0.3s ease-in-out;
}

.btn {
  composes: btn from global;
}
